GCLOUD_PROJECT=vehicle-market-tracker
PUBSUB_TOPIC_PRICES=price-ingest
MARKETCHECK_API_KEY=
MARKETCHECK_CLIENT_SECRET=
MARKETCHECK_COUNTRY=us
MARKETCHECK_ROWS=25
RAPIDAPI_KEY=
RAPIDAPI_HOST=car-api2.p.rapidapi.com
